body{padding:0;
     margin:0;
	background:linear-gradient(to right,purple,pink);
	
}

	
.block2{
	height:400px;
	background:linear-gradient(to right,orange,yellow);
}
.block3{
	height:400px;
	background:linear-gradient(to right,pink,green);
	}
.block4{
	
   height:400px;
    background:linear-gradient(to right,gray,white);
	
}

#photo{
	margin-left:0,5%;
	transition:0.5s ease;
}
#photo:hover{
	transform:scale(1.2);
}
#photos{
	margin-left:0,5%;
	transition:0.5s ease;
}
#photos:hover{
	transform:scale(1.2);
	
}





.block1{
	
	height:500px;
 display:flex;
justify-content:center;
align-items:center;

background:white;
font-family:consolas;


	
}
a{
position:relative;
display:inline-block;
padding:15px 30px;
color:#2196f3;
text-transform:upperscare;
letter-spacing:4px;
text-decoration:none;
font-size:24px;
overflow:hidden;
transition:0.2s;	
}
a:hover{
	
	
color:#255784;
background:#2196f3;
box-shadow:0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
transition-delay:1s;
}


	
	














