body{padding:0;
     margin:0;
	background:linear-gradient(to right,gray,black);
	
}

	
.block2{
	height:400px;
	
background:linear-gradient(rgba(0,0,0, 0.8),rgba(0,0,0, 0.8)),url('bmw-4560531_640.jpg') right no-repeat  ; )

}
.block3{
	height:400px;
	
	background:linear-gradient(rgba(0,0,0, 0.8),rgba(0,0,0, 0.8)),url('electric-car-1633932_640.jpg') right no-repeat;)
	
	}
.block4{
	
   height:400px;
    
background:linear-gradient(rgba(0,0,0, 0.8),rgba(0,0,0, 0.8)),url('motorcycle-4184237_640.jpg')  right no-repeat; )

	
}
 img{
	padding:20px; 
	 
 }

#photo{
	margin-left:0,5%;
	transition:0.5s ease;
}
#photo:hover{
	transform:scale(1.2);
}
#photos{
	margin-left:0,5%;
	transition:0.5s ease;
}
#photos:hover{
	transform:scale(1.2);
	
}





.block1{
	border-top:1px solid white;
	border-bottom:1px solid white;
	font-family:sans-serif;
	min-height:600px;
	height:500px;
 display:flex;
justify-content:center;
align-items:center;

background:rgb(3, 0, 19);
font-family:consolas;


	
}
a{
position:relative;
display:inline-block;
padding:15px 30px;
color:#2196f3;
text-transform:upperscare;
letter-spacing:4px;
text-decoration:none;
font-size:24px;
overflow:hidden;
transition:0.2s;	
}
a:hover{
	
	
color:#255784;
background:#2196f3;
box-shadow:0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
transition-delay:0.2s;
}


	
	














